input{
    margin-bottom: 15px;
}

q{
    width: 100%;
    display: inline;
}



body{
    margin-top: 5%;
}

.tab-content{
    margin-left: 5%;
}

#content{
    float: left;
    display: inline;
}

#addnew{
    float: right;
    margin-top: 2px;
}

