
.textcenter {
    text-align: center;
}

.info-box {
/*    width: 800px;*/
    height: 150px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    color: black;
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
}

#defbox {
    height: auto;
}

.box-def {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    color: black;
    padding-top: 20px;
}

.info-pic {
    width: 150px;
    height: 150px;
    background-color: pink;
/*    background-image: url('../img/flower.png');*/
    display: block;
    position: relative;
    float: left;
    margin-right: 20px;
}

.topic {
    font-family: dinpromed, sans-serif;
/*    font-weight: bold;*/
}

.bg-plan {
    background-color: lightgray;
}

@font-face {
    font-family: dinprolight;
    src: url('../font-awesome/fonts/DINPro-light.ttf');
}
@font-face {
    font-family: dinproreg;
    src: url('../font-awesome/fonts/DINPro-regular.ttf');
}
@font-face {
    font-family: dinpromed;
    src: url('../font-awesome/fonts/DINPro-medium.ttf');
}

.content {
    font-family: dinprolight, sans-serif;
}

.textbold {
    font-family: dinpromed, sans-serif;
}

.linktag {
    width: auto;
    height: auto;
    background-color: hotpink;
    color: white;
    float: right;
    margin-top: 60px;
    margin-right: 10px;
    padding: 3px 10px 3px 10px;
    
}
