.profilepic {
    display:block;
    border-radius:50%;
    border-color:gainsboro;
    border-style:solid;
    border-width:2px;
}   

.profilepicTab {
    margin-left: 50%; 
    margin-top: 20%;
    margin-bottom:10%;
}

.textTab {
   margin-top: 17%
    
}



hr {
    max-width: 600px;
    border-color: #EF788C;
    border-width: 3px;
}



.editProfile {
    font-size: 15px;
    color:grey;
}

.tabtab {
    max-width: 80%;
    min-width: 80%;
    min-height: 310px;
    max-height: 100%;
    margin-left: 18%;
    border-style: solid;
    border-color: #FDD7E4;
    border-width: 2px;
    border-radius: 10px;
    background: 	#ffbfd3;
}

.text {
    margin-left: 2
}

.webboardTab {
    margin-left: 18%;
    
}

.rightTab {
    border-style: solid;
    border-color: #FDD7E4;
    border-width: 2px;
    border-radius: 10px;
    background: 	#ffbfd3;
}

.add {
    font-size: 15px;
    color:grey;
}
