header{
    background: #000 url(../img/header2.jpg) no-repeat 0px -400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 50px;
}

.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0px 30px;}

/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.tp-banner-container{
	width:100%;
	position:relative;
	padding:0;

}

.tp-banner{
	width:100%;
	position:relative;
}

.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
}







.profilepic {
    padding-left: 20px
}







#content {
    margin-top: 40px;
}

#mainNav {
    padding: 0 15px 0 15px;
}



.name {
    text-align: center;
}

.pinkbtn {
    background-color: #FDC2EF;
    
}

.btn-primary {
    background-color: #F293A3 !important;

}

.btn-primary:hover {
   border: none;
    background-color: #EF788C !important;
    box-shadow: none; 
}

.btn-primary:focus {
    border: none;
    background-color: #EF788C !important;
    box-shadow: none;
}

.comment {
    margin-left: 20px;
}

.break {
    padding: 20px 0;
}

.btn {
    .sans-serif-font;
    background-color: #F293A3;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    
}

.avt button {
    height: 38px;
    border: none;
    box-shadow: none;
    color: white !important;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif !important;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #F293A3 !important;

}

ul.cats .badge {
    background-color: #F5A9B5 !important;
    font-size: 12px;
    color: #ffffff;
    font-family: 'Open Sans Bold', sans-serif;
    margin-top: 7px;
}

.post .comments .commentbg {
    background-color: #F5A9B5 !important;
    border-radius: 2px;
    display: inline-block;
    padding: 12px 17px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif; 
    position: relative;
}

.post .comments .commentbg .mark {
    width: 11px;
    height: 11px;
    background-color: #F5A9B5 !important;
    position: absolute;
    bottom: 0;
    left: 43%;
    margin-bottom: -5px;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
}

.paginationforum li a {
    min-width: 24px;
    height: 24px;
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif !important;
    color: #ffffff;
    background-color: #cfd5d7;
    border-radius: 2px;
    display: block;
    padding: 0 8px;
    line-height: 24px;
}

.smileys {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
}

.camera {
    margin-right: 1.5em;
    position: relative;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.paginationforum {
    margin: 19px auto;
    padding: 0;
    display: inline-flex;
}
